@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@0;1&family=Open+Sans:ital,wght@0,300;1,300&display=swap');


*{
    margin:0;
    padding:0;
    border:0;
}


html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:contain;
    }
    
    /* set background image per page */
    .home-bg {
    background-color: black;
    background: url("../images/horiz-banner-vcreporter.jpg") no-repeat;
    background-size:cover;
    }
    .zen-bg {
    background-color:rgb(44, 133, 206); 
    background: url("../images/viktor-tar-underwater.jpg") no-repeat;
    background-size:cover;
    }
    .joinus-bg {
    background-color: black;
    background: url("../images/guillaume-nery-cnn.jpg") no-repeat;
    background-size:cover;
    }





body{
    font-family: 'Open Sans', sans-serif;
    color: cornsilk;
     
    
}

/* headings and logo */

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

#logo{
    float: right;
    font-size: 280%;
    margin-right: 50px;
}

/*banner */


#banner {
    clear:both;
    padding-top:10px;
    padding-right:120px;
    font-size:80%;
    float:right;  
      
    
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    float:left;
}

#logo, #menu{
    line-height: 75px;
    color:cornsilk;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 2px solid #004e5c;
}

.active{
    border-bottom: 2px solid cornsilk;
}




/*about us*/


#about-us, #join-us-blarb {
    clear:both;
    padding-top:100px;
    padding-right:30px;
    
    float:right;  
    line-height: 1.6;
    letter-spacing:2px;
    text-align:justify;

    }
#join-us-blarb {
    padding-right:120px;
}

/* Footer */

footer{
    height: 60px;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: rgba(0, 183, 255, 0.4);
       
}



.social-networks{
    text-align: center;
    

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 0 5% 0 5%;
    color: cornsilk;
}

/* Join Us Form */

.form-section {
    clear: left;
    height: 1200px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width:450px;
    position:absolute;
    left: 5%;
    padding:30px;
    
}
.signup-form h2 {
    color: #fafafa;
    margin-bottom:20px;
}

.text-input {
    background:transparent;
    color: #fafafa;
    width: 100%;
    height:25px;
    margin: 5px 0 20px;
    border:1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover {
   border-color: darkblue;
}

.join-button {
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size: 100%;
    background-color:lightblue;
    color:darkblue;
    display:block;
    
}

.join-button:hover {
    background-color:#fafafa;
    color:#f16c6b;

}

/* zen boxes */

#zen-heading {
    padding:200px 0 50px 0;
    text-align:center;
    font-style: italic;
}


#zen-box {
    
    float:left;
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 33.3%;
    height: 400px;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    background-size:cover;
    
}
.zen-bg-1 {
    background-image: url(../images/whaleshark-greenpeace.jpg);
    }

.zen-bg-2 {
        background-image: url(../images/yoga-history-com.jpg);
        }
.zen-bg-3 {
            background-image: url(../images/Aran-Islands-shamrock-craic.jpeg);
            }