@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: Lato, sans-serif;
    color: cornsilk;
    background-image: url("../images/horiz-banner-vcreporter.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}

/* headings and logo */

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}



/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
    color:cornsilk;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 2px solid #004e5c;
}

.active{
    border-bottom: 2px solid cornsilk;
}

/*banner */

#banner-text h2{
    margin:30px;
    height:100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    color:cornsilk;
    
}


/*about boxes*/

#top-about{
    padding: 10px;
    height: 33%;
    float: left;
    margin-left:30px;
    background-color:rgba(0, 183, 255, 0.4);
}

/* Footer */

footer{
    height: 60px;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: rgba(0, 183, 255, 0.4);
       
}

.social-networks{
    text-align: center;
    

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 1%;
    padding: 0 5% 0 5%;
    color: cornsilk;
}
